/*@import url(http://fonts.googleapis.com/css?family=Lato:300,400);*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
html,body{
	background:#333;
    color:white;
    font-family: 'Open Sans', sans-serif;
}
/*File uploader Styles*/
#droparea{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	background:#333;
}
#message{
	z-index:100;
    margin:auto;
    position:absolute;
    top:-999px;
    transition: top 0.7s;
	-webkit-transition: top 0.7s; /* Safari */
    width:444px;
    background:skyblue;
    padding-right:5px;
    border:22px solid skyblue;
}
.fileInfo{
    height:55px;
	margin-bottom:5px;
	padding-left:5px;
	background:#eee;
	width:0%;
	transition: width 1s;
	-webkit-transition: width 1s; /* Safari */
	border-bottom-right-radius: 55px;
	border-top-right-radius: 55px; 
}
.fileInfo span{
    display:table;
    height:100%;
}
.fileName{
    display:table-cell;
    vertical-align:middle;
}
/*Default styles*/
h1,p{
    font-weight:100;
    text-align:left;
    margin:0;
}
h1{
    font-size:1.35em;
    margin:3% 0 1.7% -8.7%;
}
p{
    font-size:0.65em;
    margin:0 0 0 -8.7%;
    line-height:1.5;
}
/*Tile colors*/
.blueishgreen{background:#2aa0b0;}
.orange{background:#d9532e;}
.lightBlue{background:#62c1fc;}
.darkPink{background:#a804ba;}
.purple{background:#7c63c7;}
.blue{background:#3089f0;}
.green{background:#3bb339;}
.darkBlue{background:#0056c7;}
.red{background:#bd2a51;}

/*Tile Sizes*/
[data-sizex="1"]{
	width:165px;
}
[data-sizex="2"]{
	width:340px;
}
[data-sizey="2"]{
	height:348px;
}
[data-sizey="1"]{
	height:170px;
}
/*Dashboard Styles*/
.sortable{
	list-style-type:none;
	margin-top:50px;
	padding:1px;
	margin:auto;
	height:auto;
	overflow:hidden;
	width:1045px;
}
.sortable li{
	margin:4px;
    padding:0;
	float:left;
	font-size:1.2em;
    text-align:left;
    display:table;
}
.sortable li:hover{
	border:3px solid rgba(0, 0, 0, 0.3);
	margin:1px;
}
.sortable li:active{
	border:0px solid rgba(0, 0, 0, 0.3);
	margin:4px;
}
.tileType{
    font-size:0.6em;
    padding:0 0 2% 5%;
    display:table-cell;
    vertical-align: bottom;
    font-weight:bolder;
}
.smallTileType{
    font-size:0.6em;
    padding:0 0 3% 10%;
    display:table-cell;
    vertical-align: bottom;
    font-weight:bolder;
}
.smallTileP{
    margin:9% 0 0 -20.4%;
}
/*Group Title Styles*/
.groupTitle{
	display:table;
	background:#b84c3d;
	width:350px;
	margin:25px 0;
	text-align:center;
	height:65px;
}
.groupTitle span{
	display:table-cell;
	vertical-align:middle;
	font-size:2.3em;
	font-weight:100;
	color:white;
}