@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
html,body{
	background:#333;
    color:white;
    font-family: 'Roboto', sans-serif;
}
/*File uploader Styles*/
#droparea{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	background:#333;
}
#message{
	z-index:100;
    margin:auto;
    position:absolute;
    top:-999px;
    transition: top 0.7s;
	-webkit-transition: top 0.7s; /* Safari */
    width:444px;
    background:skyblue;
    padding-right:5px;
    border:22px solid skyblue;
}
.fileInfo{
    height:55px;
	margin-bottom:5px;
	padding-left:5px;
	background:#eee;
	width:0%;
	transition: width 1s;
	-webkit-transition: width 1s; /* Safari */
	border-bottom-right-radius: 55px;
	border-top-right-radius: 55px; 
}
.fileInfo span{
    display:table;
    height:100%;
}
.fileName{
    display:table-cell;
    vertical-align:middle;
}
/*Default styles*/
h1,p{
    font-weight:300;
    margin:0;
}
/*Tile colors*/
.blueishgreen{background:#2aa0b0;}
.orange{background:#d9532e;}
.lightBlue{background:#62c1fc;}
.darkPink{background:#a804ba;}
.purple{background:#7c63c7;}
.blue{background:#3089f0;}
.green{background:#3bb339;}
.darkBlue{background:#0056c7;}
.red{background:#bd2a51;}

/*Tile Sizes*/
[data-sizex="1"]{
	width:165px;
}
[data-sizex="2"]{
	width:340px;
}
[data-sizey="2"]{
	height:348px;
}
[data-sizey="1"]{
	height:170px;
}
/*Dashboard Styles*/
.sortable{
	list-style-type:none;
	margin-top:50px;
	padding:0;
	margin:auto;
	height:auto;
	overflow:hidden;
	width:1045px;
}
.sortable li{
	margin:4px;
    padding:0;
	float:left;
	font-size:1.2em;
    position:relative;
}
.sortable li:hover{
	border:3px solid rgba(0, 0, 0, 0.3);
	margin:1px;
}
.sortable li:active{
	border:0px solid rgba(0, 0, 0, 0.3);
	margin:4px;
}
/*Tile type text styles*/
.tileType{
    font-size:0.5em;
    font-weight:400;
    position:absolute;
    color:#dbdbdb;
    bottom:3%;
    z-index:1;
    font-family:"Open Sans", sans-serif;
    display:none;
}
.tileType img{
	width:16px;
	height:16px;
}
[data-sizex="2"] span{
	left: 3%;
}
[data-sizex="1"] span{
	left: 6%;
}
/*Text Snippet Styles */
.textSnippet p{
	font-size: 0.7em;
	margin:3% auto;
	width: 90%;
	line-height:1.5;
	display:none;
}
/*Clock tile*/
#clockWrapper{
    border-radius:100%;
    width:80%;
    height:80%;
    text-align:center;
    display:table;
    margin:10% auto;
}
#clockWrapper h2{
    display:table-cell;
    vertical-align:middle;
    font-weight:100;
}
/*Calendar tile*/
.calendar h1{
	position:absolute;
	right:3%;
	top:3%;
	font-weight:100;
	font-size:3.5em;
}
.calendar h3{
	position:absolute;
	right:3%;
	top:35%;
	font-weight:100;
}
.calendar p{
	font-weight:300;
	font-size:0.9em;
    position:absolute;
    top:17%;
    left:5%;
    background:#7c63c7;
    display:none;
}
.timeDue{
	font-size:0.7em;
	font-weight:bold;
}
/*ToDo Tile*/
.todo div#todoWrapper h3{
	font-weight:400;
	font-size:1.1em;
	margin:0;
}
.todo div#todoWrapper table tr td{
	font-size:0.8em;
	font-weight:300;
}
.todoCheck{
	border:1px solid #333;
}
#todoWrapper{
	margin:7% 0 0 15%;
}

/*Tile Icons*/
[data-sizex="1"] .tileIcon{
	display:block;
	margin: 10% auto;
}
[data-sizex="2"] .tileIcon{
	position:absolute;
	top: 10%;
	left: 6%;
}

/*Grouped Title Styles*/
.groupTitle{
	display:table;
	background:#b84c3d;
	width:350px;
	margin:25px 0;
	text-align:center;
	height:65px;
}
.groupTitle span{
	display:table-cell;
	vertical-align:middle;
	font-size:2.3em;
	font-weight:100;
	color:white;
}
